{% extends 'base.html.twig' %}

{% block body %}
    <h1>Modifier l'événement</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">Enregistrer les modifications</button>
    {{ form_end(form) }}

    <a href="{{ path('app_event_list') }}" class="btn btn-secondary mt-3"><button>Retour à la liste</button></a>
{% endblock %}
