{% extends 'base.html.twig' %}

{% block title %}Liste des Événements Triés{% endblock %}

{% block body %}
    <h1>Liste des Événements Triés par Nom</h1>

    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Date</th>
                <th>Lieu</th>
            </tr>
        </thead>
        <tbody>
            {% for event in events %}
                <tr>
                    <td>{{ event.nom }}</td>
                    <td>{{ event.date|date('Y-m-d') }}</td>
                    <td>{{ event.emplacement }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
